body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
}

.nav-links {
    font-size: 1.5em;
}

header {
    height: 50px;
    background-color: #009087;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.user-list-container {
    width: 100%;
    height: 500px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 10px;

}
.product-list-container{
    width: 100%;
    height: 500px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 1rem;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    padding: 2rem;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.search-bar {
    display: flex;
    flex-wrap: row;
    justify-content: left;
    margin-top: 1rem;
}
.add-product , .orders{
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 33.49%;
    height: fit-content;

}

.order-list-container{
    width: 100%;
    height: 290px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 10px;
}

.add-product .orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-product form, .orders form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

#Btn_add_product, #Btn_add_genre{
    align-self: right;
    margin: 10px;
    float: right;
}

#ordername{
    margin-bottom: 5px;
}





.products, .users{
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
}


.users {
    padding-left: auto;
    padding-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

#Btn_add_product {
    margin: 10px;
    right: 20px;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
}

footer {
    background-color: #009087;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}




/* From Uiverse.io by LightAndy1 */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    max-width: 190px;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px white;
    border: 0;
    border-radius: 12px;
    background-color: white;
    outline: none;
    color: black;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.input::placeholder {
    color: black;
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: black;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}