body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5rem;
    color: #28a745;
}